*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  color: #333;
  line-height: 18px;
  margin: 33px;
}

h1{
  margin-bottom: 15px;
}

p{
  margin: 33px;
}

a{
  color: #666666;
}


th{
  padding-bottom: 5px;
}

td {
    padding: 0px 5px 7px;
}

h2{
  margin-bottom: 10px
}

h4{
  margin-bottom: 10px;
}

#notice{
  color: green;
}