* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  color: #333;
  line-height: 18px;
  margin: 33px;
}

p{
  margin: 33px;
}

a{
  color: #666666;
}